@import "variables";

.anchor {
  background-color: transparent;
  border-style: none;
  box-shadow: 0 0 0 $border-width transparent;
  color: $color;
  font-family: inherit;
  font-size: inherit;
  font-weight: $font-weight;
  outline: none;
  padding: 0;
  text-decoration: underline;
  transition: $transition;

  &:focus,
  &:hover {
    background-color: $color;
    box-shadow: 0 0 0 $border-width $color;
    color: $background-color;
  }
}
