@import "variables";

.button {
  appearance: none;
  background-color: $background-color;
  border-color: $border-color;
  border-radius: $border-radius;
  border-style: $border-style;
  border-width: $border-width;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  color: $color;
  cursor: default;
  display: block;
  font-family: inherit;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  outline: none;
  padding: $padding;
  text-align: inherit;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: none;
  transform: $transform;
  transition: $transition;
  user-select: none;
  white-space: nowrap;
  width: 100%;

  &:active,
  &:focus,
  &:hover {
    box-shadow: $active-box-shadow;
    transform: $active-transform;
  }
}
