@import "variables";

.root {
  background: $background;
  color: $color;
  font-size: $font-size;
  font-size: $font-family;
  line-height: $line-height;
  transition: background-color $duration, color $duration;
}
