@import "variables";

.container {
  overflow-x: auto;
  overflow-y: hidden;
}

.table {
  border-color: $border-color;
  border-radius: $border-radius;
  border-style: $border-style;
  border-width: $border-width;
  border-collapse: separate;
  border-spacing: $border-width;
  font-size: $font-size;
  font-weight: $font-weight;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;

  > thead > tr > th {
    background-color: $color;
    border-color: $color;
    border-radius: $border-radius;
    border-style: $border-style;
    border-width: $border-width;
    color: $background-color;
    font-weight: $font-weight;
    padding: $padding;
    vertical-align: top;
  }

  > tbody > tr > td {
    border-color: $border-color;
    border-radius: $border-radius;
    border-style: $border-style;
    border-width: $border-width;
    padding: $padding;
    vertical-align: top;
  }

  > caption {
    caption-side: bottom;
    margin-top: $margin;
    text-align: left;
  }
}
