@import "variables";

.title {
  font-size: calc(#{$font-size} * 2);
  font-weight: $font-weight;
  line-height: calc(#{$line-height} * 2);
  margin: $margin 0;
  transition: font-size $duration, margin $duration;
}
