// Atari
$background: whitesmoke;
$color: red;

// new wave
$background: blue;
$color: cyan;
$border-color: lime;
$box-shadow-color: magenta;

// gameboy
$background: yellowgreen;
$color: darkolivegreen;
$box-shadow-color: olivedrab;
