// Atari
$background: whitesmoke;
$color: red;

// new wave
$background: blue;
$color: cyan;
$border-color: lime;
$box-shadow-color: magenta;

// gameboy
$background: yellowgreen;
$color: darkolivegreen;
$box-shadow-color: olivedrab;

// filter: blur(0.5px);
// text-shadow: 1px 1px green, -1px -1px red;
