$background: var(--background, white);
$border-color: var(--border-color, currentColor);
$border-radius: var(--border-radius, 0);
$border-style: var(--border-style, solid);
$border-width: var(--border-width, 1px);
$color: var(--color, black);
$duration: var(--duration, 200ms);
$font-family: var(--font-family, 16px);
$font-size: var(--font-size, 16px);
$font-weight: var(--font-weight, 400);
$line-height: var(--line-height, 20px);
$margin: var(--margin, 16px);
$padding: var(--padding, 16px);
$transition: var(
  --transition,
  background-color $duration,
  box-shadow $duration,
  color $duration,
  outline $duration,
  transform $duration
);

$button-border-color: var(--button-border-color, currentColor);
$button-border-radius: var(--button-border-radius, 0);
$button-border-style: var(--button-border-style, solid);
$button-border-width: var(--button-border-width, 2px);
$button-box-sizing: var(--button-border-sizing, border-box);
$button-color: var(--button-color, currentColor);
$button-cursor: var(--button-cursor, default);
$button-display: var(--button-display, block);
$button-font-family: var(--button-font-family, inherit);
$button-font-size: var(--button-font-size, inherit);
$button-font-weight: var(--button-font-weight, 600);
$button-line-height: var(--button-line-height, 20px);
$button-padding: var(--button-padding, 16px);
$button-text-align: var(--button-text-align, left);
$button-text-decoration: var(--button-text-decoration, none);
$button-user-select: var(--button-user-select, none);
$button-width: var(--button-width, 100%);

$sidebar-width: 240px;

@mixin link-default {
  background: $background;
  color: $color;
  outline: $border-width $border-style transparent;
  transition: $transition;
  user-select: none;
}

@mixin link-active {
  background: $background;
  color: $color;
  outline: $border-width $border-style grey;
}

@mixin button-shared {
  border-color: $button-border-color;
  border-radius: $button-border-radius;
  border-style: $button-border-style;
  border-width: $button-border-width;
  box-sizing: $button-box-sizing;
  color: $button-color;
  display: $button-display;
  font-family: $button-font-family;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  line-height: $button-line-height;
  text-align: $button-text-align;
  text-decoration: $button-text-decoration;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin button-default {
  appearance: none;
  background: var(--button-background, white);
  box-shadow: var(--button-box-shadow, none);
  outline: var(--button-outline, 2px solid transparent);
  outline-offset: var(--button-outline-offset, 0);
  transform: var(--button-transform, none);
  transition: $transition;
}

@mixin button-active {
  background: var(--button-active-background, white);
  box-shadow: var(--button-active-box-shadow, none);
  outline: var(--button-active-outline, 2px solid grey);
  transform: var(--button-active-transform, none);
}
