@import 'variables';

.anchor {
  background: $background;
  box-shadow: 0 0 0 $border-width transparent;
  color: $color;
  font-weight: $font-weight;
  outline: none;
  text-decoration: underline;
  transition: $transition;
  user-select: none;

  &:focus,
  &:hover {
    background: $color;
    box-shadow: 0 0 0 $border-width $color;
    color: $background;
  }
}
