@import 'variables';

.box {
  box-sizing: border-box;
  padding: $padding;
  transition: margin $duration, padding $duration;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

@for $i from 1 through 11 {
  .width-#{$i} {
    flex-basis: (100% * $i / 12);
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.adaptive {
  @media (max-width: 768px - 1) {
    flex-basis: 100%;
  }
}

.fluid {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.solid {
  flex-basis: 0;
  flex-grow: 0;
  flex-shrink: 0;
}
