@import 'variables';

.container {
  padding: $padding;
}

.link {
  background: $background;
  box-shadow: 0 0 0 $border-width transparent;
  color: $color;
  display: block;
  font-size: calc(#{$font-size} * 2);
  font-weight: $font-weight;
  line-height: calc(#{$border-width} * 2 + #{$padding} * 2 + #{$line-height});
  outline: none;
  text-decoration: none;
  transition: $transition;
  user-select: none;

  &:focus,
  &:hover {
    background: $color;
    box-shadow: 0 0 0 $border-width $color;
    color: $background;
  }
}
