@import 'variables';

.brand {
  font-size: var(--brand-font-size, 24px);
  font-weight: var(--brand-font-weight, 400);
  line-height: var(--brand-line-height, 32px);
  margin: var(--brand-margin, 16px);
  text-decoration: var(--brand-text-decoration, none);
}
