@import 'variables';

.button {
  appearance: none;
  background: $button-background;
  border: $button-border;
  border-radius: $button-border-radius;
  box-sizing: border-box;
  color: $button-color;
  cursor: default;
  display: block;
  font-family: inherit;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  line-height: $line-height;
  padding: $button-padding;
  text-align: $button-text-align;
  text-decoration: none;
  width: 100%;

  @extend %button-interaction;
}
