@import 'variables';

.button {
  appearance: none;
  background: $button-background;
  border: $button-border;
  border-radius: $button-border-radius;
  box-sizing: border-box;
  color: $button-color;
  cursor: default;
  display: block;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  line-height: 1;
  padding: $button-padding;
  text-align: $button-text-align;
  text-decoration: none;
  width: 100%;

  @extend %button-interaction;

  // // disabled state
  // background-size: $border-width;
  // background: repeating-linear-gradient(
  //   45deg,
  //   $border-color,
  //   $border-color $border-width,
  //   transparent $border-width,
  //   transparent $border-width * 2
  // );
}
