@import 'variables';

.button {
  appearance: none;
  background: var(--button-background, #{$background});
  border-color: var(--button-border-color, currentColor);
  border-radius: var(--button-border-radius, #{$border-radius});
  border-style: var(--button-border-style, #{$border-style});
  border-width: var(--button-border-width, #{$border-width});
  box-shadow: var(--button-box-shadow, none);
  box-sizing: var(--button-border-sizing, border-box);
  color: var(--button-color, currentColor);
  cursor: var(--button-cursor, default);
  display: var(--button-display, block);
  font-family: var(--button-font-family, inherit);
  font-size: var(--button-font-size, inherit);
  font-weight: var(--button-font-weight, #{$font-weight});
  line-height: var(--button-line-height, #{$line-height});
  outline-offset: var(--button-outline-offset, 0);
  outline: var(--button-outline, #{$border-width} solid transparent);
  padding: var(--button-padding, #{$padding});
  text-align: var(--button-text-align, left);
  text-decoration: var(--button-text-decoration, none);
  text-overflow: ellipsis;
  text-transform: var(--button-text-transform, none);
  transform: var(--button-transform, none);
  transition: $transition;
  user-select: var(--button-user-select, none);
  white-space: nowrap;
  width: var(--button-width, 100%);

  &:focus,
  &:hover {
    background: var(--button-active-background, #{$background});
    box-shadow: var(--button-active-box-shadow, none);
    color: var(--button-active-color, currentColor);
    outline: var(--button-active-outline, #{$border-width} solid #{$color});
    transform: var(--button-active-transform, none);
  }
}
