@import 'variables';

.input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.label {
  background: $button-background;
  border: $button-border;
  box-sizing: border-box;
  color: $button-color;
  cursor: pointer;
  display: block;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  padding: $button-padding;
  text-align: $button-text-align;
  text-decoration: none;
  user-select: none;
  width: 100%;

  @extend %button-interaction;
}

.input {
  &:checked + .label {
    @extend %button-checked;
  }

  &:focus + .label {
    @extend %button-active;
  }
}