@import 'variables';

.nav {
  background: $background;
  border-left-color: $border-color;
  border-left-style: $border-style;
  border-left-width: $border-width;
  box-sizing: border-box;
  flex: 0 1 $sidebar-width;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: right $duration;
  right: 0;
  width: $sidebar-width;
  z-index: 2;

  @media (min-width: 768px) {
    border-left-style: none;
    flex: initial;
    height: initial;
    overflow-y: auto;
    position: relative;
    width: initial;
  }
}

.active {
  right: 0;
}

.inactive {
  right: calc(#{$sidebar-width} * -1);

  @media (min-width: 768px) {
    right: 0;
  }
}

.button {
  @include button-shared;
  padding: $button-padding;
  position: absolute;
  right: calc(#{$sidebar-width} + #{$margin});
  top: $margin;
  user-select: none;
  width: auto;

  @include button-default;

  &:focus,
  &:hover {
    @include button-active;
  }

  @media (min-width: 768px) {
    display: none;
  }
}
