@import 'variables';

.input {
  appearance: none;
  background: var(--input-background, white);
  border-color: var(--input-border-color, currentColor);
  border-radius: var(--input-border-radius, 0);
  border-style: var(--input-border-style, solid);
  border-width: var(--input-border-width, 2px);
  box-shadow: var(--input-box-shadow, none);
  box-sizing: var(--input-border-sizing, border-box);
  color: var(--input-color, currentColor);
  cursor: var(--input-cursor, default);
  display: var(--input-display, block);
  font-family: var(--input-font-family, inherit);
  font-size: var(--input-font-size, inherit);
  font-weight: var(--input-font-weight, 600);
  line-height: var(--input-line-height, 20px);
  outline-offset: var(--input-outline-offset, 0);
  outline: var(--input-outline, 2px solid transparent);
  padding: var(--input-padding, 16px);
  text-align: var(--input-text-align, left);
  text-decoration: var(--input-text-decoration, none);
  transform: var(--input-transform, none);
  transition: $transition;
  user-select: var(--input-user-select, none);
  width: var(--input-width, 100%);

  &:focus,
  &:hover {
    background: var(--input-active-background, white);
    border-color: var(--input-active-border-color, currentColor);
    box-shadow: var(--input-active-box-shadow, none);
    outline: var(--input-active-outline, 2px solid black);
    transform: var(--input-active-transform, none);
  }

  &::placeholder {
    color: currentColor;
  }
}
