@import 'variables';

.input {
  @include input-shared;
  padding: $input-padding;
  width: $input-width;

  @include input-default;

  &:focus,
  &:hover {
    @include input-active;
  }

  &::placeholder {
    color: currentColor;
  }
}
