@import 'variables';

.input {
  @include button-shared;
  padding: $button-padding;
  width: $button-width;

  @include button-default;

  &:focus,
  &:hover {
    @include button-active;
  }

  &::placeholder {
    color: currentColor;
  }
}
