@import 'variables';

.nav-item {
  appearance: none;
  background: var(--nav-item-background, transparent);
  border-color: var(--nav-item-border-color, currentColor);
  border-radius: var(--nav-item-border-radius, 0);
  border-style: var(--nav-item-border-style, solid);
  border-width: var(--nav-item-border-width, 2px);
  box-shadow: var(--nav-item-box-shadow, none);
  box-sizing: var(--nav-item-border-sizing, border-box);
  color: var(--nav-item-color, currentColor);
  cursor: var(--nav-item-cursor, default);
  display: var(--nav-item-display, block);
  font-family: var(--nav-item-font-family, inherit);
  font-size: var(--nav-item-font-size, inherit);
  font-weight: var(--nav-item-font-weight, 600);
  line-height: var(--nav-item-line-height, 20px);
  outline-offset: var(--nav-item-outline-offset, 0);
  outline: var(--nav-item-outline, 2px solid transparent);
  overflow: hidden;
  padding: var(--nav-item-padding, 16px);
  text-align: var(--nav-item-text-align, left);
  text-decoration: var(--nav-item-text-decoration, none);
  text-transform: var(--nav-item-text-transform, none);
  transform: var(--nav-item-transform, none);
  transition: $transition;
  user-select: var(--nav-item-user-select, none);
  white-space: nowrap;
  width: var(--nav-item-width, 100%);

  &:focus,
  &:hover {
    background: var(--nav-item-active-background, transparent);
    box-shadow: var(--nav-item-active-box-shadow, none);
    color: var(--nav-item-active-color, currentColor);
    outline: var(--nav-item-active-outline, 2px solid black);
    transform: var(--nav-item-active-transform, none);
  }
}
