@import 'variables';

.root {
  background: $background;
  color: $color;
  display: flex;
  flex-direction: column;
  font-size: $font-size;
  font-size: $font-family;
  line-height: $line-height;
  min-height: 100vh;
  transition: background-color $duration, color $duration;
}
