@import 'variables';

.select {
  height: calc(#{$border-width} * 2 + #{$button-padding} * 2 + #{$button-line-height});
  position: relative;
  z-index: 1;
}

.options {
  position: absolute;
  width: 100%;
}

.options > input {
  appearance: none;
  opacity: 0;
  position: absolute;
}

.options > label {
  @include button-shared;
  margin-bottom: calc(-1 * #{$border-width});
  padding: $button-padding calc(#{$button-padding} * 2 + #{$button-line-height} / 0.866) $button-padding $button-padding;
  position: relative;
  user-select: none;
  width: $button-width;
  z-index: 1;

  @include button-default;

  &:focus,
  &:hover {
    @include button-active;
  }
}

.options.inactive > label {
  border-radius: $button-border-radius;
  display: none;

  &:before {
    border-color: $button-color transparent transparent transparent;
    border-style: solid;
    border-width: #{$button-line-height} calc(#{$button-line-height} / 0.866 / 2) 0 calc(#{$button-line-height} / 0.866 /
          2);
    box-sizing: border-box;
    content: '';
    display: block;
    height: $button-line-height;
    right: $button-padding;
    top: $button-padding;
    position: absolute;
    width: $button-line-height;
    z-index: 1;
  }
}

.options > input:checked + label {
  display: block;
}

.options > input:focus + label {
  @include button-active;
}
