@import 'variables';

.select {
  height: calc(#{$border-width} * 2 + #{$padding} * 2 + #{$line-height});
  position: relative;
  z-index: 1;
}

.options {
  appearance: none;
  background: $background;
  border-color: $border-color;
  border-radius: $border-radius;
  border-style: $border-style;
  border-width: $border-width;
  box-shadow: $box-shadow;
  box-sizing: box-sizing;
  color: $color;
  display: block;
  font-family: inherit;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  outline: none;
  position: absolute;
  text-align: left;
  text-decoration: none;
  transform: none;
  transition: $transition;
  user-select: none;
  width: 100%;

  &.active,
  &.focus,
  &:hover {
    box-shadow: $active-box-shadow;
    transform: $active-transform;
  }
}

.options > input {
  appearance: none;
  opacity: 0;
  outline: none;
  position: absolute;
}

.options > label {
  box-sizing: box-sizing;
  display: block;
  overflow: hidden;
  padding: $padding calc(#{$padding} * 2 + #{$line-height} / 0.866) $padding $padding;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
  width: 100%;
}

.options.inactive > label {
  display: none;
}

.options.active > label {
  box-sizing: box-sizing;
  font-family: inherit;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  padding: $padding $padding $padding calc(#{$padding} * 2 + calc(#{$line-height} * 0.866) / 0.866);
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.options.inactive > input:checked + label {
  display: block;

  &::after {
    border-color: $color transparent transparent transparent;
    border-style: solid;
    border-width: $line-height calc(#{$line-height} / 0.866 / 2) 0 calc(#{$line-height} / 0.866 / 2);
    box-sizing: border-box;
    content: '';
    display: block;
    height: $line-height;
    position: absolute;
    right: $padding;
    top: $padding;
    width: $line-height;
    z-index: 1;
  }
}

.options.active > input:focus + label,
.options.active > input:checked + label {
  position: relative;

  &::before {
    border-color: transparent transparent transparent $color;
    border-style: solid;
    border-width: calc(#{$line-height} / 2) 0 calc(#{$line-height} / 2) calc(#{$line-height} * 0.866);
    box-sizing: border-box;
    content: '';
    display: block;
    height: $line-height;
    left: $padding;
    top: $padding;
    position: absolute;
    width: $line-height;
    z-index: 1;
  }
}
