@import 'variables';

$width: 240px;

.container {
  @media (min-width: 768px) {
    display: flex;
    min-height: calc(100vh - #{($border-width * 2) + ($font-size * 2) + ($padding * 4)});
  }
}

.aside {
  background: $background;
  border-left: $border-width solid;
  box-sizing: border-box;
  flex: 0 1 $width;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: right 0.3s ease-in-out;
  right: 0;
  width: $width;
  z-index: 2;

  @media (min-width: 768px) {
    border-left: 0 solid;
    border-right: $border-width $border-style;
    height: initial;
    overflow-y: auto;
    position: relative;
  }
}

.main {
  box-sizing: border-box;
  flex: 1 0 $width;
  position: relative;
  z-index: 1;
}

.active {
  right: 0;
}

.inactive {
  right: -$width;

  @media (min-width: 768px) {
    right: 0;
  }
}

.bun {
  appearance: none;
  background: $background;
  border: $border-width $border-style;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: block;
  padding: $padding;
  position: absolute;
  right: calc(100% + #{$border-width + $margin});
  top: $margin;

  @extend %button-interaction;

  @media (min-width: 768px) {
    display: none;
  }
}

.pickle,
.cheese,
.patty {
  background: $color;
  display: block;
  height: $border-width;
  margin: 0 auto;
  width: $border-width * 5;
}

.cheese {
  margin: $border-width auto;
}
