@import 'variables';

.nav {
  background: $background;
  border-right: $border-width $border-style;
  box-sizing: border-box;
  flex: 0 1 $sidebar-width;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: left 0.3s ease-in-out;
  left: 0;
  width: $sidebar-width;
  z-index: 2;

  @media (min-width: 768px) {
    height: initial;
    overflow-y: auto;
    position: relative;
  }
}

.active {
  left: 0;
}

.inactive {
  left: -$sidebar-width;

  @media (min-width: 768px) {
    left: 0;
  }
}

.bun {
  appearance: none;
  background: $background;
  border: $border-width $border-style;
  border-radius: $border-radius;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: block;
  padding: $padding;
  position: fixed;
  right: $margin;
  top: $margin;

  @extend %button-interaction;

  @media (min-width: 768px) {
    display: none;
  }
}

.pickle,
.cheese,
.patty {
  background: $color;
  display: block;
  height: $border-width;
  margin: 0 auto;
  width: $border-width * 5;
}

.cheese {
  margin: $border-width auto;
}
