@import 'variables';

.nav {
  background: $background;
  border-right: $border-width $border-style;
  box-sizing: border-box;
  flex: 0 1 $sidebar-width;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: left 0.3s ease-in-out;
  left: 0;
  width: $sidebar-width;
  z-index: 2;

  @media (min-width: 768px) {
    height: initial;
    overflow-y: auto;
    position: relative;
  }
}

.active {
  left: 0;
}

.inactive {
  left: -$sidebar-width;

  @media (min-width: 768px) {
    left: 0;
  }
}

.button {
  @include button-shared;
  padding: $button-padding;
  position: fixed;
  right: $margin;
  top: $margin;
  user-select: none;
  width: auto;

  @include button-default;

  &:focus,
  &:hover {
    @include button-active;
  }

  @media (min-width: 768px) {
    display: none;
  }
}
