@import 'variables';

.table {
  border-color: $border-color;
  border-style: $border-style;
  border-width: $border-width;
  border-collapse: separate;
  border-spacing: $border-width;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;

  > thead > tr > th {
    background: $color;
    border-color: $color;
    border-style: $border-style;
    border-width: $border-width;
    color: $background;
    padding: $padding;
    vertical-align: top;
  }

  > tbody > tr > td {
    border-color: $border-color;
    border-style: $border-style;
    border-width: $border-width;
    padding: $padding;
    vertical-align: top;
  }

  > caption {
    caption-side: bottom;
    margin-top: $margin;
    text-align: left;
  }
}
