html {
  transition: background 200ms, color 200ms;
}

.light {
  --background-color: white;
  --border-width: 1px;
  --box-shadow: 0 0 0 0 currentColor;
  --color: black;
  --font-weight: 400;

  --active-box-shadow: 4px 4px 0 0 currentColor;
  --active-transform: translate(-2px, -2px);
}

.vhs {
  --background-color: blue;
  --border-color: yellow;
  --box-shadow: -8px 0 0 0 blue;
  --color: yellow;
  --font-weight: bold;

  --active-box-shadow: -8px 0 0 0 currentColor;
  --active-transform: translate(0, 0);

  animation: flicker 100ms infinite;
  background-color: var(--background-color);
  color: var(--color);
  text-shadow: 1px 1px green, -1px -1px red;
}

@keyframes flicker {
  0% {
    opacity: 0.95;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.95;
  }
}

.gameboy {
  --background-color: yellowgreen;
  --border-color: darkolivegreen;
  --border-radius: 8px;
  --border-width: 2px;
  --box-shadow: 0 4px 0 0 olivedrab;
  --color: darkolivegreen;
  --font-weight: 900;

  --active-box-shadow: 0 12px 0 0 olivedrab;
  --active-transform: translate(0, -8px);

  background-color: var(--background-color);
  color: var(--color);
}
