@import 'variables';

.title {
  font-size: var(--title-font-size, 32px);
  font-weight: var(--title-font-weight, 400);
  line-height: var(--title-line-height, 40px);
  margin: var(--title-margin, 16px 0);
}
